# Klucz NASA FIRMS MAP_KEY (darmowy z https://firms.modaps.eosdis.nasa.gov/api/map_key/)
FIRMS_MAP_KEY=

# Klucz CARTO API Key (dla zaawansowanych kafelków podkładu CARTO Dark Matter)
CARTO_API_KEY=

# Opcjonalny własny kod PIN (domyślnie 7749)
REPORT_PIN=7749
